body{
    background-color: #112D4E;
}
.container{
    width: 500px;
    height: 250px;
    margin: 100px;
    display: grid;
    border: 5px solid black;
    padding: 50px;
    background-color: #3F72AF;
    text-align: center;

    
}